body {
    background-image: url("../Images/background.jpg");
    background-size: cover;
    color: white;
}

.w3-container {
    background-color: rgba(0,0,0,0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}